body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.app-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

.course-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.course-item:last-child {
    border-bottom: none;
}

.course-title {
    font-weight: bold;
    color: #333;
}

.course-description {
    color: #666;
}

/* Стиль для кнопок */
#buttons {
    margin: 20px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#user-info h2 {
    color: #333;
}

#user-info p {
    color: #777;
    margin-bottom: 20px;
}
